<h1>タスクid:<%= @task.id %>の編集ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  
  <%= f.label :status, 'ステータス' %>
  <%= f.select :status, [["未実施", "未実施"], ["完了", "完了"],  ["保留", "保留"], ["委任", "委任"],["進行中", "進行中"] ],  :selected=>:status %>

  <%= f.submit '編集' %>
<% end %>

<%= link_to 'タスク一覧に戻る', tasks_path %>